<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>$title</title>
  <link rel="shortcut icon" href="$constants.getString("static_url")favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  $load_css 
</head>
<body>
  <h1>Header</h1>
  #parse($partial)
  <h3>Footer</h3>
  $load_js 
</body>
</html>
